

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}



/* Card Container */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    
}

.card {
    background: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 12px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 400px;
    text-align: left;
    border: 1px solid rgba(255, 255, 255, 0.2);
    
}

/* Image Section */
.image {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.logo {
    width: 180px;
}

/* Input Fields */
label {
    display: block;
    color: #909090;
    font-size: 14px;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #7a7a7a;
    border-radius: 8px;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.2);
    color: rgb(30, 29, 29);
    outline: none;
}

.container input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

/* Reset Button */
.resetbtn {
    width: 100%;
    padding: 12px;
    background: #303030;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.resetbtn:hover {
    background: #444;
}

/* Info Text */
.infotext {
    font-size: 12px;
    color: #7e7d7d;
    margin-top: 15px;
    text-align: center;
}

/* Responsive Design */
@media (max-width: 480px) {
    .card {
        width: 95%;
        padding: 20px;
    }

    .backlink {
        font-size: 14px;
    }

    .resetbtn {
        font-size: 14px;
        padding: 10px;
        
    }
    .infotext {
      color: #7a7a7a;
    }
  }
